SignalRClientConsole/SignalRClientConsole/bin
SignalRClientConsole/SignalRClientConsole/obj
SignalRServerConsole/Damienbod.SignalR.IHubSync.Client/obj
SignalRServerConsole/Damienbod.SignalR.IHubSync.Client/bin
SignalRClientConsole/SignalRClientConsole.v12.suo
